# Whitelist instead of blacklist.
/*

# Vim plugins and nvm are submodules.
!/.nvm
!/.vim

# Git-related config files.
!/.gitconfig
!/.gitignore
!/.gitmodules

# Various config files.
!/.tmux.conf
!/.vimrc
!/.zshrc
