# Whitelist instead of blacklist.
/*

# Allow .config directory for specific files.
!/.config
/.config/*
!/.config/gitignore

# Allow specific files from the Scripts directory (used in .zshrc etc).
!/Scripts
/Scripts/*
!/Scripts/tmux-git-info

# Vim plugins and nvm are submodules.
!/.nvm
!/.vim

# Git-related config files.
!/.gitconfig
!/.gitignore
!/.gitmodules

# Various config files.
!/.tmux.conf
!/.vimrc
!/.zshrc
