# Whitelist instead of blacklist.
/*

# Allow .config directory for specific files.
!/.config
/.config/*
!/.config/gitignore

# Vim plugins and nvm are submodules.
!/.nvm
!/.vim

# Git-related config files.
!/.gitconfig
!/.gitignore
!/.gitmodules

# Various config files.
!/.tmux.conf
!/.vimrc
!/.zshrc
